<!DOCTYPE html>
<html>
    <head>

    <title>About</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script src="/libs/jquery.js"></script>
    <!--<script src="/js/datamanager.js"></script>-->
    <!--<script src="/js/selectionList.js"></script>-->
    <!--<script src="/js/PlanetElma.js"></script>-->
 
    <!--<script src="/js/main.js"></script>-->

    
    </head>
    
<body>
    
    <div class="container-fluid">
       
            <!--header rule is setting the height for this row -->
            <div id="header" class="row"> <!--row has 12 cols-->
                <div class="col-sm-4 col-md-9 col-lg-9" >
                    <a href = "aboutme.html"><img src = "/images/ealogo_white.png" height="80px" width="210px"/></a>
                </div>
                <div class="col-sm-8 col-md-3 col-lg-3">
                    
                    <div id="navbar">
                		<ul>
                			<li><a href="default.asp" target="_blank">About</a></li>
                			<li><a href="default.asp" target="_blank">Work</a></li>
                			<li><a href="default.asp" target="_blank">Photography</a></li>
                			<!--<li><a href="default.asp" target="_blank">Blog</a></li>-->
                			<li><a href="default.asp" target="_blank">Contact</a></li>
                		</ul>
                	</div>
                </div>
             </div>
             
            <content class="row aboutrow">
                  <div class="col-sm-4 col-md-4 col-lg-4" >
                                  <p id="aboutcopy">Hello my name is Elma Aquino and I am a graphic designer. I am a Creative Editorial Designer with over seven years of design experience from magazines to books, and from marketing to digital publishing. I develop brand strategies, bookazines and website designs for The Strad magazine, which have increased traffic and revenue.
I have produced designs for a number of international consumer titles and B2B weekly and monthly titles in music, food, lifestyle, business and think tank publications. Elsewhere I rebranded publishing titles and contributed to small and large scale projects including Earth: A Visitors Guide and Grown In Britain with The Penguin Group.
My passion for design ranges widely from lifestyle and the arts. I manipulate typography, photography and illustrations for clear innovative editorial page layouts. Print or digital, I ensure that each design problem I solve maintains brand identity and consistency.</p>

                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4" >
                      <p id="aboutcopy">some more crappy text here </p>
                  </div>
                  <div class="col-sm-8 col-md-3 col-lg-3" >
                      <p id="aboutcopy">some more crappy text here and here </p>
                  </div>
             </content>
      
    </div>
    
</body>

</html>