<!DOCTYPE html>
<html>
    <head>

    <title>Home</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script src="/libs/jquery.js"></script>
    <!--<script src="/js/datamanager.js"></script>-->
    <!--<script src="/js/selectionList.js"></script>-->
    <!--<script src="/js/PlanetElma.js"></script>-->
 
    <!--<script src="/js/main.js"></script>-->

    
    </head>
    
<body>
    
    <div class="container-fluid">
       
            <!--header rule is setting the height for this row -->
            <div id="header" class="row">
                <div class="col-sm-3 col-md-6 col-lg-4" >
                    <a href = "aboutme.html"><img src = "/images/ealogo_white.png" height="80px" width="210px"/></a>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-8" >
                    <div id="navbar">
                		<ul>
                			<li><a href="default.asp" target="_blank">About</a></li>
                			<li><a href="default.asp" target="_blank">Work</a></li>
                			<li><a href="default.asp" target="_blank">Photography</a></li>
                			<li><a href="default.asp" target="_blank">Blog</a></li>
                			<li><a href="default.asp" target="_blank">Contact</a></li>
                		</ul>
                	</div>
                </div>
                
            </div>
            
            
            <div class="row">
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g1-image" title="Image 1 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g2-image" title="Image 2 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g3-image" title="Image 3 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g4-image" title="Image 4 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g1-image" title="Image 5 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g2-image" title="Image 6 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g3-image" title="Image 7 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g4-image" title="Image 8 link"> </a>
                </div>
                
            </div>
    <p style="font-family:lato, sans-serif;
                font-size: 8px;
                color: #CECECF;
                letter-spacing: 0.3px;
                margin-left: 10px;
                margin-top: 100px;"
                >All works © Elma Aquino 2015. Please do not reproduce without the expressed written consent of Elma Aquino.
    </p>


    
   
    
    <!---see where this might go later with the menu bar    
        <p>work</p>
        <p>book design</p>
        <p>magazines</p></p>
        <p>infographics</p>
        <p>identity</p>
        <p>posters</p>
        <p>illustration</p>
        <p>photography</p>
    --->
    
    
    <!---see where this might go later with the menu bar
    <a href="http://www.elmaaquino.co.uk/work/work1.html">
        <img src="http://placekitten.com/g/200/300"/></a>
        --->
</body>

</html>