<!DOCTYPE html>
<html>
    <head>

    <title>Project</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script src="/libs/jquery.js"></script>
    <!--<script src="/js/datamanager.js"></script>-->
    <!--<script src="/js/selectionList.js"></script>-->
    <!--<script src="/js/PlanetElma.js"></script>-->
 
    <!--<script src="/js/main.js"></script>-->

    
    </head>
    
<body>
    <div id="wrapper">
    <div class="container-fluid">
       
            <!--header rule is setting the height for this row -->
            <div id="header" class="row"> <!--row has 12 cols-->
                <div class="col-sm-4 col-md-9 col-lg-9" >
                    <a href = "aboutme.html"><img src = "/images/ealogo_white.png" height="80px" width="210px"/></a>
                </div>
                <div class="col-sm-8 col-md-3 col-lg-3">
                    
                    <div id="navbar">
                		<ul>
                			<li><a href="default.asp" target="_blank">About</a></li>
                			<li><a href="default.asp" target="_blank">Work</a></li>
                			<li><a href="default.asp" target="_blank">Photography</a></li>
                			<!--<li><a href="default.asp" target="_blank">Blog</a></li>-->
                			<li><a href="default.asp" target="_blank">Contact</a></li>
                		</ul>
                	</div>
                </div>
               
            <div>
                 <table class="imagetable" style="width:100%">
                          <tr>
                            <td><img src = "/images/thestradlatest/std_latest1.jpg" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest2.jpg" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest3.png" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest4.jpg" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest5.jpg" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest6.png" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest7.jpg" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest8.jpg" class="project" ></a></td>
                            <td ><img src = "/images/thestradlatest/std_latest9.jpg" class="project" ></a></td>
                          </tr>
                 </table> 
                
            </div>
            
            <div id="content">
                <h1>The Strad - latest issue</h1>
                <!--h2>Art Direction, Editorial Design</h2>--> 
            <p id="projectdescription">To celebrate the 125th anniversary of The Strad magazine. I redesigned the magazine to reflect the changes made in the industry. My brief was to create a clean, luxurious, coherent design that enhances the content and gain a better user experience. I introduced new fonts to create dynamic typographic headlines and sections. Lines in various weights and styles are used to help aid the creative design and mirror the stringed theme.</p>
                </div> 
                
                <!--<div >
                <p id="copyright">All works © Elma Aquino 2015. Please do not reproduce without the expressed written consent of Elma Aquino.
            </p>
            </div> --> 
            
            <div id="footer">
			    <div class="col-sm-4 col-md-9 col-lg-9" >
            <p id="copyright">All works © Elma Aquino. <br>Please do not reproduce without the expressed written consent of Elma Aquino.</br></p>
			    
			    <div class="col-sm-8 col-md-3 col-lg-3">
			    <div id=socialicons> 
			<a href = "contact.html"><img src = "/images/contact_icons.png"/></a>
                    <!--height="30px" width="130px" margin-left="15px"-->
                </div>
			<div style="clear: both"></div>
			
			
		</div>

		<div style="clear: both;"></div>
	</div><!-- end #wrapper -->
</body>

</html>